.App {
  text-align: center;
}

article {
  border: 1.5px solid darkgray;
  border-radius: 8px;
  margin-bottom: 10px;
}

header h1 {
  float: left;
  margin-left: 20px;
}

#header-logo {
  width: 30%;
}

.commentCard {
  border: 1.5px solid darkgray;
  border-radius: 8px;
  margin-bottom: 10px;
}