.App {
  text-align: center;
}

article {
  border: 1.5px solid darkgray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.commentCard {
  border: 1.5px solid darkgray;
  border-radius: 8px;
  margin-bottom: 10px;
}